<!--Fil för botten menyn som kan återanvändas-->
<div class="bottom-menu">
  <div class="navbar">
    <ul>
      <li>
        <a href="/feed"> <img src="assets/home.svg" alt="Ett hus" /> </a>
      </li>
      <li>
        <a href="#"> <img src="assets/projekt.svg" alt="En portfölj" /> </a>
      </li>
      <li>
        <a href="/skapainlagg">
          <img src="assets/plus-circle.svg" alt="Ett plus" />
        </a>
      </li>
      <li>
        <a href="#"> <img src="assets/campus.svg" alt="En studenthatt" /> </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/message-circle.svg" alt="En chattbubbla" />
        </a>
      </li>
    </ul>
  </div>
</div>
