<!--Sidomeny till höger som går att stänga-->
<div class="openrightmenu"> <!--pil ikon som går att klicka på-->
    <span id="opensideicon" onclick="openSuggestionsMeny()">&#8678</span>
</div>

<div id="suggestions">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSuggestionsMeny()">&times;</a>

    <h3>Känner du?</h3>
    <ul>
        <li><img src="assets/sideprofile-pic.svg" alt="" /><a href="">Hanna</a></li>
        <li><img src="assets/sideprofile-pic.svg" alt="" /><a href="">Malin</a></li>
        <li><img src="assets/sideprofile-pic.svg" alt="" /><a href="">Axel</a></li>
        <li><img src="assets/sideprofile-pic.svg" alt="" /><a href="">Kevin</a></li>
        <li><img src="assets/sideprofile-pic.svg" alt="" /><a href="">Noor</a></li>
    </ul>
</div>