<div class="header">
  <div class="header-left">
    <img id="stuLogo" src="assets/logga.svg" alt="Logotyp för StU" />
  </div>
  <div class="header-right">
    <img
      class="header-profile"
      src="assets\profile\profile-placeholder-one.jpg"
    />
  </div>
</div>
