<!--Fil för huvudmenyn som kan återanvändas-->
<div class="left-menu">
    <h1><img id="stuLogo" src="assets/logga.svg" alt="Logotyp för StU"></h1>

    <div class="navbar">
        <ul>
            <li><img src="assets/home.svg" alt="Ett hus" /><a href="/view">Hem</a></li>
            <li><img src="assets/projekt.svg" alt="En portfölj" /><a href="#">Projekt</a></li>
            <li><img src="assets/campus.svg" alt="En studenthatt" /><a href="#">Campus</a></li>
            <li><img src="assets/message-circle.svg" alt="En chattbubbla" /><a href="#">Chatt</a></li>
            <li><img src="assets/plus-circle.svg" alt="Ett plus" /><a href="/skapainlagg">Skapa inlägg</a></li>
            <li id="profilnav"><img src="#" /><a href="#">Profil</a></li>
        </ul>
    </div>

</div>