<!-- Strukturen för ett inlägg UTAN bild -->
<div class="post post-with-text">
  <div class="user-info">
    <img
      class="profile-picture"
      src="/assets/profile/profile-placeholder-one.jpg"
    />
    <h3 class="username">Ben</h3>
  </div>
  <div class="post-description">
    <p>
      Ett hus Hem En portfölj Projekt En studenthatt Campus En chattbubbla Chatt
      Ett plus Skapa inlägg Profil Ett hus Hem En portfölj Projekt En
      studenthatt Campus En chattbubbla Chatt Ett plus Skapa inlägg Profil Ett
      hus Hem En portfölj Projekt En studenthatt Campus En chattbubbla Chatt Ett
      plus Skapa inlägg Profil Ett hus Hem En portfölj Projekt En studenthatt
      Campus En chattbubbla Chatt Ett plus Skapa inlägg Profil Ett hus Hem En
      portfölj Projekt En studenthatt Campus En chattbubbla Chatt Ett plus Skapa
      inlägg Profil
    </p>
  </div>
  <div class="post-interactions">
    <div class="post-interactions-group">
      <div class="post-interactions-like">
        <img class="like-icon" src="assets/heart-filled.svg" alt="heart icon" />
        <p>10 likes</p>
      </div>
      <div class="post-interactions-comment">
        <img
          class="comment-icon"
          src="assets/message-square.svg"
          alt="message bubble icon"
        />
      </div>
    </div>
    <div class="post-interactions-time">
      <p>9 days ago</p>
    </div>
  </div>
</div>
