<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="logo">
      <h3>StU</h3>
    </div>

    <div class="navbar">
      <ul>
        <li><img src="assets/home.svg" alt="#" /><a href="#">Hem</a></li>
        <li><img src="assets/projekt.svg" alt="#" /><a href="#">Projekt</a></li>
        <li><img src="assets/campus.svg" alt="#" /><a href="#">Campus</a></li>
        <li><img src="assets/message-circle.svg" alt="#" /><a href="#">Chatt</a></li>
        <li><img src="assets/plus-circle.svg" alt="#" /><a href="#">Skapa inlägg</a></li>
        <li><img src="assets/home.svg" alt="#" /><a href="#">Profil</a></li>
      </ul>
    </div>

    <div class="filter">
      <button class="campusBTN" onclick="">Campus</button>
      <button class="vannerBTN" onclick="">Vänner</button>
    </div>

    <div class="posts">
      <div class="post">
        <div class="post-author">
          <img src="#" alt="#" />
          <h3>Användarnamn</h3>
        </div>

        <img src="#" alt="Bild" />
        <p>Bild information/text</p>

        <div class="post-actions">
          <button class="like">Like</button>
          <button class="comment">Kommentera</button>
        </div>

        <ul class="comments">
          <li><p>Användarnamn: kommentar</p></li>
        </ul>
      </div>

      <div class="post">
        <div class="post-author">
          <img src="#" alt="#" />
          <h3>Användarnamn</h3>
        </div>

        <img src="#" alt="Bild" />
        <p>Bild information/text</p>

        <div class="post-actions">
          <button class="like">Like</button>
          <button class="comment">Kommentera</button>
        </div>

        <ul class="comments">
          <li><p>Användarnamn: kommentar</p></li>
        </ul>
      </div>
    </div>
  </body>
</html>
