<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="left-menu">
      <div class="logo">
        <h3>StU</h3>
      </div>
      <div class="navbar">
        <ul>
          dd
          <li><img src="assets/home.svg" alt="#" /><a href="#">Hem</a></li>
          <li>
            <img src="assets/projekt.svg" alt="#" /><a href="#">Projekt</a>
          </li>
          <li><img src="assets/campus.svg" alt="#" /><a href="#">Campus</a></li>
          <li>
            <img src="assets/message-circle.svg" alt="#" /><a href="#">Chatt</a>
          </li>
          <li>
            <img src="assets/plus-circle.svg" alt="#" /><a href="#"
              >Skapa inlägg</a
            >
          </li>
          <li><img src="assets/home.svg" alt="#" /><a href="#">Profil</a></li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <div class="filter">
        <button class="campusBTN" onclick="">CAMPUS</button>
        <button class="vannerBTN" onclick="">VÄNNER</button>
      </div>

      <div class="posts">
        <!-- Posts från js/posts.js -->
      </div>
    </div>
    <script src="js/script.js"></script>
    <script src="js/posts.js" type="module"></script>
  </body>
</html>
