* {
  margin: 0;
  padding: 0;
}

/* Popup meny för kommentarer*/
.popup-menu {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 1000px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5vh;
  z-index: 80;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/* Lägg till ny kommentar sektion*/
.left-section {
  width: 50%;
  float: left;
}

/* Visa upp existerande kommentarer sektion*/
.right-section {
  width: 50%;
  float: right;
}

.comment-section {
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.username {
  font-weight: bold;
}

.popup-form input[type="text"] {
  width: calc(100% - 80px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.popup-form button[type="submit"] {
  width: 80px;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popup-form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Menyn till vänster*/
.left-menu {
  width: 20%;
  height: 100%;
  background-color: #e0e0e0;
  /*background-color: #aeefff;*/
  position: fixed;
}
/*Loggan*/
#stuLogo {
  display: block;
  width: 60%;
}
.navbar img {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

#profilnav img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5%;
}

.navbar ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-top: 2rem;
}
.navbar ul li {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  font-family: Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  display: block;
  padding: 20px;
}
.navbar ul li:hover,
li:focus {
  background-color: rgb(255, 255, 255, 0.6);
}

/* Mitten kolumn styling */
.main-content {
  margin-left: 20%;
  width: 60%;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

/* Campus & vänner knapparna */
.filter {
  padding: 10px;
}

.filter button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  margin: 0 10px;
  padding: 5px 10px;
}

.filter button:hover,
.filter button.active {
  text-decoration: underline;
}

/* Alla posts är inom diven posts*/
.posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 30px;
  margin: auto;
}

/*Style för menyn till höger, vänförslag*/
#suggestions h3 {
  margin-left: 20px;
  padding: 8px 8px 0 2px;
  margin-bottom: 10px;
}
.openrightmenu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
#opensideicon {
  font-size: 4em;
  cursor: pointer;
}
#suggestions {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #e0e0e0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: Verdana, sans-serif;
}

#suggestions.open {
  width: 16%;
}

#suggestions img {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}
#suggestions ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-top: 1rem;
}
#suggestions ul li {
  display: flex;
  align-items: center;
}
#suggestions ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: block;
  padding: 10px;
}
#suggestions ul li:hover,
li:focus {
  background-color: rgb(255, 255, 255, 0.6);
}
#suggestions .closebtn {
  display: block;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Gömmer header och bottom-menu, vilket är menyerna för mobil designen*/
.header,
.bottom-menu {
  display: none;
}

@media (min-width: 769px) and (max-width: 1200px) {
  #suggestions h3 {
    font-size: 14px;
  }

  #suggestions ul li a {
    font-size: 14px;
  }
}

/* Har fokuserat på 360x800,    */
@media (max-width: 768px) {
  body {
    padding-top: 10vh;
  }

  /* Gömmer vänster menyn och förslagsmenyn till höger. */
  .left-menu,
  .openrightmenu {
    display: none;
  }

  /* Lägger till headern till mobil designen */
  .header {
    height: auto;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0px 1px 0px #ada5a5, 0px -1px 0px #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 4px;
    z-index: 100;
  }

  .header-left {
    flex: 1;
  }

  .header-right {
    flex: 1;
    display: flex;
    justify-content: right;
  }

  .header-right img {
    border-radius: 50%;
    margin-right: 1em;
    height: 3.3em;
    width: 3.3em;
    box-sizing: border-box;
    padding: 5px;
  }

  #stuLogo {
    height: 3.3em;
    width: 7em;
    box-sizing: border-box;
    padding: 5px;
  }

  /* Justerar styling på mitten kolumnen, som är container till alla inlägg*/
  .main-content {
    width: 100%;
    margin-left: 0px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10vh;
  }

  /* Filter knapparna */
  .filter {
    width: 90%;
    align-self: center;
    height: 20%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  .post-description {
    width: 100%;
    margin-top: 6px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    overflow: hidden;
  }

  .post-description p {
    padding: 8px;
    font-size: 16px;
    margin: 0;
  }

  /* Visar upp botten menyn / navigeringen för mobil designen.*/
  .bottom-menu {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0px;
    padding: 3px;
    background-color: #f0f0f0;
    box-shadow: 0px 2px 0px #ada5a5, 0px -2px 0px #888;
    z-index: 90;
  }

  .bottom-menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 2%;
    padding: 0;
    height: 2.3em;
  }

  .bottom-menu li {
    flex: 0 0 auto;
    text-align: center;
    width: 20%;
  }

  /* Sätter storleken på ikonerna*/
  .bottom-menu img {
    height: 1.8em;
  }

  /* Gör mitten ikonen lite större, så den sticker ut lite*/
  .bottom-menu .add-post-icon {
    height: 2.2em;
    width: auto;
  }

  /* Ändrar styling på popup menyn för kommentarerna*/
  .popup-menu {
    height: 80vh;
    margin-top: 10vh;
    background-color: #ccc;
  }

  .left-section,
  .right-section {
    width: 100%;
    float: none;
  }

  .left-section h1 {
    font-size: 18px;
  }

  .left-section .popup-form {
    display: flex;
    align-items: center;
  }

  .left-section input {
    width: 70%;
    margin-right: 10px;
  }

  /* Försöker att justera storleken på kommentarerna, 
  för att det ska se likadant ut oavsett hur många kommentarer det är*/
  .comment-section {
    max-height: calc(90vh - 200px);
    overflow-y: auto;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .filter {
    width: 60%; /* Adjust this percentage as needed */
  }
}
